*{
    padding:0;
    margin:0;
}


body{
    height:100vh;
}




nav{
    border:2px solid red;
    
    height:100%;
    width:20%;
}


#lists{
    width:100%;
}


#main{
    width:80%;
    
}

#add-main{
    width:80%;
}

#home{
    height:200px;
    border:2px solid blue;
}


#add-patient{
    height:200px;
    border:2px solid blue;
}